<!-- Toolbar -->
<div class="card-container-col-md-12">
    <!-- HEADING OF THE Toolbar -->
    <div class="toolbar" role="heading">
      <img width="40" alt="Angular Logo" 
      src="https://softwarereviews.s3.amazonaws.com/production/logos/offerings/1578/original/187a5df2-5ce3-42f2-b70c-af790025d3f2giesecke___devriant_logo.png?1516292012" />
      <span>G+D SUCI Tool v0.1 - Encrypt - Profile A</span>
    </div>
  
    <!-- Input Parameter Container -->
    <form class="container">
      <!-- Grid row -->
      <div class="form-group row">
        <!-- Material input -->
        <label for="ephprivatekey" class="col-sm-2 col-form-label">Eph. Private Key</label>
        <div class="col-sm-10">
          <div class="md-form mt-0">
            <input formControlName="HNKey" mdbInput required type="text" 
            class="form-control" id="ephprivatekey" 
            placeholder="C5 3C 22 20 88" />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <!-- Material input -->
        <label for="ephpublickey" class="col-sm-2 col-form-label">Eph. Public Key</label>
        <div class="col-sm-10">
          <div class="md-form mt-0">
            <input formControlName="HNKey" mdbInput required type="text" 
            class="form-control" id="ephpublickey" 
            placeholder="C5 3C 22 20 88" />
          </div>
        </div>
      </div>
    <div class="form-group row">
      <!-- Material input -->
      <label for="hnpublickey" class="col-sm-2 col-form-label">HN. Public Key</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input formControlName="HNKey" mdbInput required type="text" 
          class="form-control" id="hnpublickey" 
          placeholder="C5 3C 22 20 88" />
        </div>
      </div>
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Material input -->
      <label for="plaintext" class="col-sm-2 col-form-label">Input Plain Text</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input formControlName="GetTlv" mdbInput type="text" class="form-control" id="plaintext" placeholder="A1 34 01 00 F1" />
        </div>
      </div>
    </div>
    <!-- Grid row -->
    <br />
    <!-- Input Parameter Container - Ended -->
    <br />
    <!-- Calculated Output -->
    <!-- Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="supiformat" class="col-sm-2 col-form-label">SUPIFormat</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="supiformat" placeholder="A1 34 01 00 F1" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="identity" class="col-sm-2 col-form-label">Identity</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="identity" placeholder="A1 34 01 00 F1" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="mcc" class="col-sm-2 col-form-label">MCC</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="mcc" placeholder="A1 34 01 00 F1" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="mnc" class="col-sm-2 col-form-label">MNC</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="mnc" placeholder="C5 3C 22 20 88" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  
    <!-- ====================================================================================================== -->
    <!-- Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="routeid" class="col-sm-2 col-form-label">RI</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="routeid" placeholder="C5 3C 22 20 88" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="psid" class="col-sm-2 col-form-label">PSID</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="psid" placeholder="C5 3C 22 20 88" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="hnwid" class="col-sm-2 col-form-label">HNWID</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="hnwid" placeholder="C5 3C 22 20 88" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <!-- -------------------------------------------------------------------------------------------------- -->
    <br />

    <div class="row">
      <div class="spacer"></div>
      <button onclick="calculate()" type="button" class="btn btn-primary">Calculate</button>
  
      <div class="spacer"></div>
      <button type="button" class="btn btn-primary">Clear</button>
  
      <div class="spacer"></div>
      <button type="button" class="btn btn-primary">Clear All</button>
  
      <div class="spacer"></div>
      <button type="button" class="btn btn-primary">Close</button>
  
      <div class="spacer"></div>
    </div>
    
    <!-- Calculated Output -->
    <br />
    <br />
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Material input -->
      <label for="sharedkey" class="col-sm-2 col-form-label">Shared Key</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="sharedkey" placeholder="Shared Key ..." />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="enckey" class="col-sm-2 col-form-label">Encryption Key</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="enckey" placeholder="Encryption Key ..." />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="icb" class="col-sm-2 col-form-label">ICB</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="icb" placeholder="ICB ..." />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="mackey" class="col-sm-2 col-form-label">MAC Key</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="mackey" placeholder="MAC Key ..." />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="enctext" class="col-sm-2 col-form-label">Encryption Text</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="enctext" placeholder="Encryption Text" />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="mactag" class="col-sm-2 col-form-label">MAC-Tag Value</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="mactag" placeholder="MAC-Tag Value ..." />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="schemeop" class="col-sm-2 col-form-label">Scheme Output</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="schemeop" placeholder="Scheme Output ..." />
        </div>
      </div>
      <br />
      <br />
      <br />

    </div>
    </form>
  </div>
  <!-- Grid row -->