<!-- Toolbar -->
<div class="card-container-col-md-12">
    <div class="toolbar" role="heading">
      <img width="40" alt="Angular Logo" 
      src="https://softwarereviews.s3.amazonaws.com/production/logos/offerings/1578/original/187a5df2-5ce3-42f2-b70c-af790025d3f2giesecke___devriant_logo.png?1516292012" />
      <span>G+D SUCI Tool v0.1 - Decrypt - Profile A</span>
    </div>
  
    <!-- Input Parameter Container -->
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Material input -->
      <label for="hnprivatekey" class="col-sm-2 col-form-label">HN. Private Key</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput type="email" class="form-control" id="hnprivatekey" placeholder="HN. Private Key" />
        </div>
      </div>
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Material input -->
      <label for="getidentity" class="col-sm-2 col-form-label">Get Identity Responsive (TLV)</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput type="email" class="form-control" id="getidentity" placeholder="Identity" />
        </div>
      </div>
    </div>
    <!-- Grid row -->
    <br />
    <div class="row">
      <div class="spacer"></div>
      <button type="button" class="btn btn-primary">Calculate</button>
  
      <div class="spacer"></div>
      <button type="button" class="btn btn-primary">Clear</button>
  
      <div class="spacer"></div>
      <button type="button" class="btn btn-primary">Clear All</button>
  
      <div class="spacer"></div>
      <button type="button" class="btn btn-primary">Close</button>
  
      <div class="spacer"></div>
    </div>
    <!-- Input Parameter Container - Ended -->
    <br />
    <!-- Calculated Output -->
    <!-- Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="supiformat" class="col-sm-2 col-form-label">SUPIFormat</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="supiformat" placeholder="SUPIFormat" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="identity" class="col-sm-2 col-form-label">Identity</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="identity" placeholder="Identity" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="mcc" class="col-sm-2 col-form-label">MCC</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="mcc" placeholder="MCC" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="mnc" class="col-sm-2 col-form-label">MNC</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="mnc" placeholder="MNC" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  
    <!-- ====================================================================================================== -->
    <!-- Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="routeid" class="col-sm-2 col-form-label">RI</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="routeid" placeholder="RI" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="psid" class="col-sm-2 col-form-label">PSID</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="psid" placeholder="PSID" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3">
        <!-- Material input -->
        <div class="md-form form-group">
          <label for="hnwid" class="col-sm-2 col-form-label">HNWID</label>
          <div class="col-sm-12">
            <div class="md-form mt-0">
              <input mdbInput readonly type="email" class="form-control" id="hnwid" placeholder="HNWID" />
            </div>
          </div>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <!-- -------------------------------------------------------------------------------------------------- -->
    <!-- Calculated Output -->
    <br />
    <br />
    <br />
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Material input -->
      <label for="ephkey" class="col-sm-2 col-form-label">Eph. Public Key</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="ephkey" placeholder="Eph. Public Key" />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="ciphertxt" class="col-sm-2 col-form-label">Input Cipher Text</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="ciphertxt" placeholder="Input Cipher Text" />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="sharedkey" class="col-sm-2 col-form-label">Shared Key</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="sharedkey" placeholder="Shared Key" />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="decryptkey" class="col-sm-2 col-form-label">Decryption Key</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="decryptkey" placeholder="Decryption Key" />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="icb" class="col-sm-2 col-form-label">ICB</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="icb" placeholder="ICB" />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="mackey" class="col-sm-2 col-form-label">MAC Key</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="mackey" placeholder="MAC Key" />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="decrypttxt" class="col-sm-2 col-form-label">Decryption Text</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="decrypttxt" placeholder="Decryption Text" />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="mactagval" class="col-sm-2 col-form-label">MAC - Tag Value</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="mactagval" placeholder="MAC - Tag Value" />
        </div>
      </div>
      <br />
      <br />
      <br />
  
      <label for="msin_imsi" class="col-sm-2 col-form-label">MSIN / IMSI</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <input mdbInput readonly type="email" class="form-control" id="msin_imsi" placeholder="MSIN / IMSI" />
        </div>
      </div>
    </div>
  </div>
  <!-- Grid row -->