<!-- Toolbar -->
<div class="toolbar" role="navigation">
  <img width="40" alt="Angular Logo"
    src="https://softwarereviews.s3.amazonaws.com/production/logos/offerings/1578/original/187a5df2-5ce3-42f2-b70c-af790025d3f2giesecke___devriant_logo.png?1516292012" />
  <span>G+D Tool Project</span>
</div>

<nav class="navbar navbar-fixed-top navbar-light bg-inverse">
  <div class="container">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="suciencrypt">Profile B - Encrypt</a>
      </li>
    </ul>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="sucidecrypt">Profile B - Decrypt</a>
      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>
